
section.signin-section{
    background: #ffffff;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.right-content{
    display: none;
}


form > div.input-field{
    display: flex;
    align-items: center;
    margin-bottom: 1.9em;
}

.user-icon{
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 1.7em;
    color: #8C8C8C; 
}

.pass-icon{
    display: flex;
    position: absolute; 
    right: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 1.7em;
    color: #8C8C8C; 
}


@media screen and (min-width: 437px){
    section.signin-section{
        width: 437px;
    }

    form > div.input-field{
        position: relative;
       
    }

}

@media screen and (min-width: 886px){

    section.signin-section{
        margin: 0;
        width: unset;
    }

    div.signin-container{
        height: 100vh;
        width: 1000vh;
        /* width: 886px; */
        padding-left: 0;
        padding-right: 0;
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 1fr 1fr;
    }


    div.left-content{
        padding: 2em;
        /* margin-top: 9em; */
        align-items: center;
        margin: 6em auto;
        grid-area: left;
        width: 442px;
    }


    div.right-content{
        padding-top: 9em;
        right: 0;
        background: #F5F5F5;
        display: block;
        grid-area: right;
       
    }

    figure.figure-img img{
        max-width: 400px;
        align-items: center;
        margin: 3em auto;
    }

    figcaption{
        width: 442px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){


    div.left-content{
        min-width: 496px;
    }


    figure.figure-img img{
        max-width: 564px;
        align-items: center;
        margin: 1em auto;
    }

    figcaption{
        width: 486px;
    } 
}

@media screen and (min-width: 1280px){


    figure.figure-img img{
        min-width: 584px;
        align-items: center;
        margin: 0 auto;
    }

}